<template>
  <div class="home">
    <ProcessList :processes="processes" />
  </div>
</template>

<script>
import ProcessList from '@/components/ProcessList.vue'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Home',
  components: {
    ProcessList,
  },
  computed: {
    ...mapGetters(['environment', 'processes']),
    icon () {
      return require('@/assets/logo.jpeg')
    },
    logo () {
      return require('@/assets/logo-groningen-wit.png')
    },
  },

  methods: {
    ...mapActions(['fetchProcesses']),
  },

  mounted () {
    if (! this.processes.length) {
      this.fetchProcesses()
    }
  },
}
</script>
