<template>
  <v-container>
    <v-row>
      <v-col
        v-if="p"
        cols="12"
      >
        {{ p.title }}
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Check',
  computed: {
    ...mapGetters(['processes']),
    p () {
      return this.processes.find(p => p.slug === this.$route.params.slug)
    },
  },
  methods: {
    ...mapActions(['fetchProcesses']),
  },
  created () {
    if (! this.processes.length) {
      this.fetchProcesses()
    }
  },
}
</script>

<style lang="scss">

</style>
