<template>
  <v-container>
    <v-row>
      <v-col
        v-for="p in processes"
        :key="p.id"
        cols="12"
      >
        <v-card>
          <div class="d-flex flex-no-wrap justify-space-between">
            <div>
              <v-card-title class="text-h5">
                <span v-text="p.title" />
                <v-divider class="my-4 divider-card-title" />
              </v-card-title>

              <v-card-subtitle v-text="p.description || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus urna ac ipsum pulvinar, ut semper nulla egestas.'"></v-card-subtitle>
            </div>

            <v-avatar
              class="ma-3"
              size="100"
              tile
            >
              <v-img :src="getImageBySlug(p.slug)"></v-img>
            </v-avatar>
          </div>
          <v-card-actions>
            <v-btn
              :to="{ name: 'Check', params: { slug: p.slug } }"
              color="primary"
              block
              large
            >
              Start de Check
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row
      v-for="p in processes"
      :key="p.id"
    >
      <v-col cols="12">
        <h2>{{ p.title }}</h2> 
        <p>{{ p.slug }}</p>
      </v-col>
      <v-col cols="12">
        <v-row
          v-for="(step, index) in p.steps"
          :key="index"
        >
          <v-col cols="12">
            <h3>{{ step.title }}</h3>
          </v-col>
          <v-col cols="12">
            <v-row v-if="step.variables">
              <v-col cols="12">
                <h4>Variables</h4>
              </v-col>
              <v-col cols="12">
                <v-row
                  v-for="(variable, h) in step.variables"
                  :key="h"
                >
                  <v-col cols="12">
                    <h5>{{ variable.title }}</h5>
                    <p>{{ variable.slug }}</p>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row v-if="step.connections">
              <v-col cols="12">
                <h4>Connections</h4>
              </v-col>
              <v-col cols="12">
                <v-row
                  v-for="(connection, i) in step.connections"
                  :key="i"
                >
                  <v-col cols="12">
                    <h5>{{ connection.title }}</h5>
                    <p>{{ connection.url }}</p>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row v-if="step.decisionTables">
              <v-col cols="12">
                <h4>Decision Tables</h4>
              </v-col>
              <v-col cols="12">
                <v-row
                  v-for="(decisionTable, j) in step.decisionTables"
                  :key="j"
                >
                  <v-col cols="12">
                    <h5>{{ decisionTable.title }}</h5>
                    <p>{{ decisionTable.slug }}</p>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row v-if="step.conditions">
              <v-col cols="12">
                <h4>Conditions</h4>
              </v-col>
              <v-col cols="12">
                <v-row
                  v-for="(condition, k) in step.conditions"
                  :key="k"
                >
                  <v-col cols="12">
                    <h5>{{ condition.title }}</h5>
                    <p>{{ condition.expression }}</p>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'ProcessList',
    props: {
      processes: {
        type: Array,
        default: () => [],
      }
    },
    methods: {
      getImageBySlug (slug) {
        return require(`@/assets/processes/${slug}.png`)
      },
    },
  }
</script>

<style lang="scss">
.theme--light.v-divider.divider-card-title {
  border: 2px solid var(--v-primary-base);
  border-radius: 3px;
  flex-basis: 100%;
}
</style>
